

h1{
    color:black;
    text-align: center;
    text-size-adjust: xxx-large;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
}
h4{
    color:crimson;
    text-align: center;
    text-size-adjust:var(10px);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
}

    body {
        background-image: url("./vacationimage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       height:100vh; /* aspect-ratio: 16/9; */
    }

html{background-color:black;}

   .container{
    margin: auto;
    display:flex;
    flex-direction: column;
    width: 50vw;
     }

  p{font-family:sans-serif;
    font-weight: bolder;
    color:black;
}

   input::placeholder{
    width:120px;
    color: red;
    font-weight:bolder;
    background-color: bisque;
    text-align:center;
    }

input{width:120px;}
    
   button {
            background-color:crimson;
            border: none;
            color: white;
            padding: 5px 10px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin:auto;
            cursor: pointer;
            border-radius: 4px;
        }

        button:hover {
        background-color: #45a049;
        }

    .move{
    display: flex;
    }

    #answer{
    font-family:sans-serif;
    font-weight: bolder;
    color:black;
    }