


h1{
    color: blue;
    text-align: center;
    text-size-adjust: x-large;
    font-family: cursive;
}

    body {
        background-image: url("./vacationimage.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
       height:100vh; /* aspect-ratio: 16/9; */
    }
html{
    
   }